body {
    font-family: monospace;
    background: #111;
    color: #0f0;
}

#world {
    white-space: pre;
    line-height: 1.2;
    display: grid;
    border: 2px solid #0f0;
    background-color: black;
    width: fit-content;
    margin: 20px auto;
    padding: 2px;
    box-sizing: content-box;

    /* width per cell */
    grid-template-columns: repeat(var(--grid-width), 30px);
    /* height per cell */
    grid-template-rows: repeat(var(--grid-height), 30px);

    gap: 1px;
}

.cell {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: monospace;
    border: 1px solid #333;
}

.wall {
    background-color: gray;
    color: white;
}

.spike {
    background-color: red;
    color: white;
}

.danger {
    background-color: orange;
    color: white;
}

.empty {
    background-color: #111;
}

.player {
    background-color: #0f0;
    color: white;
}